name: Deploy Terraform Resources
on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.5.7

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.PROD_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Perform Terraform
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve

      - name: Success Message
        run: echo "Terraform successfully deployed infrastructure!" >> $GITHUB_STEP_SUMMARY

      - name: Find Website
        run: echo "Check your website at the CloudFront distribution URL which can be found in your AWS account's CloudFront console." >> $GITHUB_STEP_SUMMARY
